<section class="section-padding container  bg-cream mx-auto">
  <div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-12">
      @for (stat of stats; track $index) {

      <div class="text-center group">
        <p
          class="font-heading text-4xl md:text-5xl lg:text-6xl font-semibold text-navy group-hover:text-gold transition-colors duration-300">
          {{stat.value}}
        </p>
        <p class="text-muted-foreground font-body mt-3 text-sm md:text-base">
          {{stat.label}}
        </p>
      </div>
      }
    </div>
  </div>
</section>
