 <section id="properties" class=" bg-cream-dark ">
   <div class="container mx-auto section-padding ">
     <div class="flex flex-col md:flex-row md:items-end md:justify-between gap-6 mb-12">
       <div>
         <span class="text-green font-body text-sm font-medium tracking-wider uppercase">
           {{'propertiesSection.hint' | translate }}
         </span>
         <h2 class="font-heading text-4xl md:text-5xl font-semibold text-navy mt-4">
           {{'propertiesSection.title' | translate }}
         </h2>
       </div>
       <Button
         class="btn border border-input bg-background self-start md:self-auto  text-green-dark px-6 py-3 disabled ">
         {{'propertiesSection.moreComingSoon' | translate }}
       </Button>
     </div>

     <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
       @for (property of properties; track $index) {
       <div
         class="bg-card rounded-2xl overflow-hidden shadow-card hover:shadow-elegant transition-all duration-300 group">
         <div class="relative h-64 overflow-hidden">
           <img [src]="property.image" alt={{property.title}}
             class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500" />
           <div class="absolute top-4 left-4">
             <span class="px-3 py-1 bg-green-light text-navy text-xs font-semibold rounded-full">
               {{property.type | translate }}
             </span>
           </div>
           <div class="absolute bottom-0 inset-x-0 h-20 bg-linear-to-t from-navy/80 to-transparent"></div>
         </div>

         <div class="p-6">
           <div class="flex items-start justify-between mb-4">
             <div>
               <h3 class="font-heading text-xl font-semibold text-navy">
                 {{property.title | translate }}
               </h3>
               <div class="flex items-center gap-1 text-muted-foreground mt-1">
                 <fa-icon [icon]="locationIcon" class="text-sm" />
                 <span class="text-sm font-body">{{property.location | translate }}</span>
               </div>
             </div>
             <p class="font-heading text-xl font-semibold text-navy">
               {{property.price}} {{ 'propertiesSection.sar' | translate }}
             </p>
           </div>

           <div class="mb-4">
             <div class="flex justify-between text-sm font-body mb-2">
               <span class="text-muted-foreground">{{'propertiesSection.funded' | translate }}</span>
               <span class="text-navy font-medium">{{property.funded}}%</span>
             </div>
             <div class="h-2 bg-cream-dark rounded-full overflow-hidden">
               <div class="h-full bg-linear-to-r from-green-dark to-green rounded-full transition-all duration-500"
                 [style.width.%]="property.funded"> </div>
             </div>
           </div>

           <div class="flex items-center justify-between pt-4 border-t border-border">
             <div class="flex items-center gap-1 text-sm">
               <fa-icon [icon]="usersIcon" class="text-sm text-green" />

               <span class="text-muted-foreground font-body">
                 {{property.investors}} {{'propertiesSection.investors' | translate }}
               </span>
             </div>
             <div class="flex items-center gap-1 text-sm">
               <fa-icon [icon]="arrowTrendUpIcon" class="text-sm text-green" />

               <span class="text-navy font-semibold font-body">
                 {{property.returns}} {{ 'propertiesSection.returns' | translate }}
               </span>
             </div>
           </div>

           <Button class="btn btn-green btn-lg w-full mt-6" (click)="toggleFormModal()">
             {{'propertiesSection.investFrom' | translate }} {{property.minInvestment}} {{ 'propertiesSection.sar' | translate }}
           </Button>
         </div>
       </div>
       }
     </div>
   </div>
 </section>
 @if(showFormModal()) {
 <app-form-modal (onClose)="toggleFormModal()" />
 }
