 <section id="how-it-works" class="bg-cream-dark">
   <div class="section-padding  container mx-auto">
     <div class="text-center max-w-2xl mx-auto mb-16 ">
       <span class="text-green font-body text-sm font-medium tracking-wider uppercase">
         {{'howItWorksSection.hint' | translate }}
       </span>
       <h2 class="font-heading text-4xl md:text-5xl font-semibold text-navy mt-4 mb-6">
         {{'howItWorksSection.title' | translate }}
       </h2>
       <p class="text-muted-foreground font-body text-lg">
         {{'howItWorksSection.subtitle' | translate }}
       </p>
     </div>

     <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-12  ">
       @for (step of steps; track $index; let i = $index) {
       <div class="relative group ">
         @if(i < steps.length - 1){ <div
           class="hidden lg:block absolute top-16 ltr:left-[60%] rtl:right-[60%] w-full h-0.5 bg-linear-to-r from-green/50 to-transparent z-1 ">
       </div>

       }
       <div
         class="bg-card rounded-2xl p-8 shadow-card hover:shadow-elegant transition-shadow duration-300 relative overflow-hidden h-full flex flex-col z-10">

         <span
           class="absolute -top-1 ltr:right-4 rtl:left-4 font-heading text-[120px] font-bold text-green leading-none select-none opacity-30 ">
           {{step.number }}
         </span>

         <div
           class="w-16 h-16 rounded-xl bg-linear-to-r from-green to-cream flex items-center justify-center mb-6 group-hover:scale-110 transition-transform duration-300 ">
           <fa-icon [icon]="step.icon" class="text-2xl text-navy" />
         </div>

         <h3 class="font-body text-2xl font-semibold text-navy mb-4">
           {{step.title | translate }}
         </h3>
         <p class="text-muted-foreground font-body leading-relaxed">
           {{step.description | translate }}
         </p>
       </div>
     </div>
     }
   </div>
   </div>
 </section>
