<section class="bg-cream-dark ">
  <div class="section-padding container-main px-6 md:px-12 lg:px-24">
    <div class="text-center max-w-2xl mx-auto mb-16">
      <span class="text-gold font-body text-sm font-medium tracking-wider uppercase">
        Testimonials
      </span>
      <h2 class="font-heading text-4xl md:text-5xl font-semibold text-navy mt-4 mb-6">
        What Our Investors Say
      </h2>
      <p class="text-muted-foreground font-body text-lg">
        Join thousands of satisfied investors building wealth through fractional real estate.
      </p>
    </div>

    <div class="grid md:grid-cols-3 gap-8">
      @for (testimonial of testimonials; track $index) {
      <div class="bg-card rounded-2xl p-8 shadow-card hover:shadow-elegant transition-shadow duration-300">
        <div class="flex gap-1 mb-6">

          @for(star of getStars(testimonial.rating) ; track $index){
          <fa-icon [icon]="starIcon" class="text-lg fill-gold text-gold" />
          }
        </div>

        <p class="text-foreground font-body leading-relaxed mb-8 text-lg">
          "{{testimonial.content}}"
        </p>

        <div class="flex items-center gap-4">
          <div class="w-12 h-12 rounded-full bg-linear-to-r from-gold to-cream flex items-center justify-center">
            <span class="font-heading font-semibold text-navy">
              {{testimonial.avatar}}
            </span>
          </div>
          <div>
            <p class="font-heading font-semibold text-navy">
              {{testimonial.name}}
            </p>
            <p class="text-muted-foreground font-body text-sm">
              {{testimonial.role}}
            </p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
